
div.container {
    margin: auto;
    min-width: 50%;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

main {
    min-height: 250px;
    text-align: left;
}

footer {
    margin-top: 50px;
    vertical-align: bottom;
    text-align: left;
}

footer img.small-logo {
    width: 40px;
    vertical-align: middle;
}

footer div.ribbon {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}

footer a {
    color: black;
}
