body {
    text-align: center;
}

div.container {
    /*display: inline-block;*/
    margin: auto;  
    min-width: 600px;
    max-width: 40%;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

header nav {
    margin-top: 30px;
}

main {
    min-height: 250px;
    text-align: left;
}

footer {
    margin-top: 50px;
    vertical-align: bottom;
    text-align: left;
}


div.account {
    float: left;
    font-size: small;
    
}

header nav {
    clear: both;
}

img.small-logo {
    width: 40px;
    vertical-align: middle;
}

label.disabled {
    color: gray;
}

header a {
    color: black;
}

header a.active {
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    pointer-events: none;
}

footer div.ribbon {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}

footer a {
    color: black;
}
