<div class="ribbon">
  <p>
    user-details works!
  </p>
  <small><a [routerLink]="['/posts']"><em>Return to Posts</em></a></small>
</div>
<hr>
<br>
<div>
  ID: {{user.id}} <br>
  Name: {{user.name}} <br>
  User Name: {{user.username}} <br>
  Email: {{user.email}} <br>
  Phone: {{user.phone}}<br>
</div>
<br>
<br>
<hr>
<div class="links-box">
  <div>
    <ng-template ngFor let-item [ngForOf]="[1,2,3,4,5,6,7,8,9,10]">
      &nbsp;&nbsp;<a [routerLink]="['/users/' + item]" [routerLinkActive]="['active']">[{{item}}]</a>&nbsp;&nbsp;
    </ng-template>
  </div>
  <small class="float-counter">ngOnInit counter: {{counter}}</small>
</div>

