<div class="ribbon">
  <p>
    posts works!
  </p>
  <small><a [routerLink]="['/posts/md']"><em>Go to Material Design view</em></a></small>
</div>
<hr>
<div>
  User ID: <input [(ngModel)]="newPost.userId"/> <br>
  Title: <input [(ngModel)]="newPost.title"/> <br>
  Body: <input [(ngModel)]="newPost.body"/> <br>
  <button (click)="addPost()">POST</button>
</div>
<br>
<hr>
<div class="filters">
  <strong>Filters: </strong><br>
  User ID: <input [(ngModel)]="filterUserId" class="small">&nbsp; &nbsp;
  Title: <input [(ngModel)]="filterTitle" class="small">&nbsp; &nbsp;
  Body: <input [(ngModel)]="filterBody">&nbsp; &nbsp;
</div>
<hr>
<br>
<div class="post" *ngFor="let item of posts | postsFilter: filterUserId:filterTitle:filterBody" >
  <h4>[{{item.id}}] <small>version {{item.version}}</small></h4>
  <div *ngIf="!item.stage">
    <h3>{{item.title}}</h3>
    <pre>{{item.body}}</pre>
    <p>
      <a routerLink="/users/{{item.userId}}"><cite>{{users[item.userId]?.name}}</cite></a>
    </p>
  </div>
  <div *ngIf="item.stage" class="edit-pane">
    <input [(ngModel)]="item.stage.title"><br>
    <textarea [(ngModel)]="item.stage.body"></textarea><br>
  </div>
  <div class="actions">
    <a [routerLink]="" (click)="toggleEditMode(item)">{{item.stage ? 'cancel' : 'edit'}}</a>
    <button *ngIf="!item.stage" (click)="deletePost(item.id)">DELETE</button>
    <button *ngIf="item.stage" (click)="editPost(item)">PUT</button>
  </div>
</div>
