<p>
  posts works!
</p>
<hr>
<h4>Create new post:</h4>
<div class="new-post">
  <form #newPostForm="ngForm" (ngSubmit)="addPost(newPostForm)">
    <mat-form-field>
      <mat-select placeholder="Author" [(ngModel)]="newPost.userId" name="userId" required>
        <mat-option *ngFor="let item of users" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="newPost.title" name="title" matInput placeholder="Title" required>
    </mat-form-field>
    <mat-form-field>
      <textarea [(ngModel)]="newPost.body" name="body" matInput placeholder="Body"></textarea>
    </mat-form-field>
    <div class="actions-bar">
      <button type="submit" mat-raised-button color="primary">POST</button>
      <button type="reset" mat-button>reset</button>
    </div>
  </form>
</div>
<hr/>
<h4>Filters:</h4>
<div class="filters">
  <mat-form-field>
    <mat-label>User ID</mat-label>
    <input [(ngModel)]="filter.user" matInput [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of users" [value]="user">{{user.name}}</mat-option>
  </mat-autocomplete>
  <mat-form-field>
    <input [(ngModel)]="filter.title" matInput placeholder="Title" >
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="filter.body" matInput placeholder="Body">
  </mat-form-field>
  <button mat-button (click)="resetFilter()">reset</button>
</div>
<hr>
<br>
<mat-grid-list cols="2">
  <mat-grid-tile *ngFor="let item of posts | postsFilter: filter.user:filter.title:filter.body" >
    <mat-card class="post">
      <mat-card-header>
        <mat-card-subtitle>
          <strong>[{{item.id}}] <small>version {{item.version}}</small></strong>
        </mat-card-subtitle>
        <mat-card-title *ngIf="!item.stage">{{item.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="!item.stage">
        <pre class="post-body">{{item.body}}</pre>
        <p>
          <a routerLink="/users/{{item.userId}}"><cite>{{usersMap?.get(item.userId)?.name}}</cite></a>
        </p>
      </mat-card-content>
      <mat-card-content *ngIf="item.stage">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="item.stage.title" class="post-title">
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput [(ngModel)]="item.stage.body" class="post-body"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="toggleEditMode(item)">{{item.stage ? 'cancel' : 'edit'}}</button>
        <button *ngIf="!item.stage" mat-button color="warn" (click)="deletePost(item.id)">delete</button>
        <button *ngIf="item.stage" mat-raised-button color="primary" (click)="editPost(item)">PUT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
