div.ribbon {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    margin: -8px 0;
}

div.filters input {
    width: 200px;
}

div.filters input.small {
    width: 100px;
}

div.post {
    border:solid gray 1px;
    margin: 15px 0;
    padding: 5px 15px 15px;
}

div.edit-pane textarea, div.edit-pane input {
    margin: 5px 0;
    width: 99%;
}

div.edit-pane textarea {
    height: 62px;
}

div.actions {
    margin-top: 10px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
