h4 {
    margin: 15px 0 10px;
}

div.new-post {
    width: 50%;
    min-width: 350px;
    margin-bottom: 20px;
}

div.new-post mat-form-field {
    width: 100%;
}

div.filters {
    display: flex;
    justify-content: space-between;
}

div.filters mat-form-field {
    width: 26%;
}

mat-grid-list {
    background-color: whitesmoke;
}

mat-card.post {
    width: 85%;
    
}

mat-card-content a {
    color: black;
}

input.post-title {
    font-weight: bold;
}

pre.post-body {
    white-space: pre-line;
}

textarea.post-body {
    height: 62px;
}

.full-width {
    width: 100%;
}

mat-card-actions, div.actions-bar {
    display: flex;
    justify-content: space-between;
 }
