<p>
  posts works!
</p>
<hr>
<div>
  User ID: <input [(ngModel)]="newPost.userId"/> <br>
  Title: <input [(ngModel)]="newPost.title"/> <br>
  Body: <input [(ngModel)]="newPost.body"/> <br>
  <button (click)="addPost()">POST</button>
</div>
<br>
<hr>
<div class="filters">
  <strong>Filters: </strong><br>
  User ID: <input [(ngModel)]="filterUserId" class="small">&nbsp; &nbsp;
  Title: <input [(ngModel)]="filterTitle" class="small">&nbsp; &nbsp;
  Body: <input [(ngModel)]="filterBody">&nbsp; &nbsp;
</div>
<hr>
<br>
<div class="post" *ngFor="let item of posts | postsFilter: filterUserId:filterTitle:filterBody" >
  <h4>[{{item.id}}] <small>version {{item.version}}</small></h4>
  <h3>{{item.title}}</h3>
  <pre>{{item.body}}</pre>
  <p>
    <a routerLink="/users/{{item.userId}}"><cite>{{users[item.userId]?.name}}</cite></a>
    <a [routerLink]="" (click)="toggleEditMode(item)" style="float: right;">{{item.stage ? 'cancel' : 'edit'}}</a>
  </p>
  <fieldset *ngIf="item.stage">
    <input [(ngModel)]="item.stage.title" class="full"><br>
    <textarea [(ngModel)]="item.stage.body" class="full"></textarea><br>
    <button (click)="editPost(item)">PUT</button>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button (click)="deletePost(item.id)">DELETE</button>
  </fieldset>
</div>
