div.filters mat-form-field {
    width: 28%;
    margin-right: 30px;
}

mat-grid-list {
    background-color: whitesmoke;
}

mat-card.post {
    width: 85%;
    
}

mat-card-content a {
    color: black;
}

input.post-title {
    font-weight: bold;
}

pre.post-body {
    white-space: pre-line;
}

textarea.post-body {
    height: 62px;
}

.full-width {
    width: 100%;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
 }
