div.post {
    border:solid gray 1px;
    margin: 10px 0;
    padding: 5px 15px;
    /*max-width: 500px;*/
}

div.filters input {
    width: 200px;
}

div.filters input.small {
    width: 100px;
}