mat-card.post {
    width: 85%;
    height: 80%;
    background-color: oldlace;
}

mat-card-content a {
    color: black;
}

pre.post-body {
    white-space: pre-line;
}

textarea.post-body {
    height: 62px;
}

.full-width {
    width: 100%;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
 }
