/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

hr {
    height: 0;
    border-style: solid;
    border-width: 1pt 0 0;
    border-color: dimgray;
}

a {
    color: black;
}
