<p>
  settings works!
</p>
<hr>
<p>
    <label><input type="checkbox" [(ngModel)]="useLocalDb" /> Use local DB</label>
    <small *ngIf="isLocalDbUp===null"> (check status...)</small>
    <span *ngIf="isLocalDbUp" class="up"> (up)</span>
    <span *ngIf="isLocalDbUp===false" class="down"> (down)</span>
</p>
<hr>
<p>
  <label>
    Log on timer tick every 
    <select [(ngModel)]="logOnTimerTick">
      <option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
    </select> 
    senconds.
  </label>
</p>
<hr>
<p>
  <button (click)="raiseError()">Raise Error</button>
</p>
